body, button {
    font-size: large;
}
#converter {
    position: absolute;
    right: 40%;
    margin-top: 100px;
}
#weight, #volume, #temperature {
    margin-left: -6px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:lightsalmon;
}
#length {
    border: none;
    background-color: salmon;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#switch-imperial-metric, #convert {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}
select, option {
    font-size: large;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}
#forms {
    border-style: solid;
    border-width: 1px;
    border-color: salmon;
    background-color: salmon;
}
form, #switch-imperial-metric {
    display: inline-block;
}
form, input {
    margin-top: 35px;
}
select, #switch-imperial-metric {
    margin-top: 10px;
}
input {
    width: 100px;
    height: 20px;
    -moz-appearance: textfield;
    font-size: large;
    padding: 7.5px;
}
#imperial-value {
    margin-left: 85px;
}
#metric, #metric-value {
    margin-left: 35px;
}
#convert {
    margin-top: 10px;
    margin-left: 35px;
    margin-bottom: 35px;
}
